// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$primary: #1C6979;
$primary: #171717;
$secondary: #4c9fb4;
$tertiary: #FDA53C;
$accent: #F9F9F9;
$accent-opacity: #f9f9f98e;
$light: #FFFFFF;
$dark: #0e0e0e;
