
//REVIEWS HERE
.review-us-h{
    margin-top: 32px;
    color: #B79238;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}


.review-stars-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 22px;

    svg{
        width: 35px !important;
        height: 35px !important;
    }
}

.rate-us-textarea{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 36px;
    border: 1px solid #B79238;
    background: black;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
}

.rate-us-button{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background: #B79238;
    height: 52px;
    margin-top: 18px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat';
    position: fixed;
    bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.switch .slider.round:before{
    background-color: lightgray;
}

.admin-menu-item-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

//TOP categories meni 
#nav-public .category-types .--active{
    background-color: #B79238 !important; 
    border:none !important;
}

//categories slider
.categories-container .categories .--active{
    background-color: #B79238 !important;
    border: none !important;
}


.drinks-food-navbar .drinks-food-navbar__links .drinks-food-navbar__link--active{
    background-color: #B79238 !important;
}



.edit-product-banner-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.menu-item-image-part{
    width: 20%;
}

.menu-item-text-part{
    width: 70%;
}


//here


html, body {
    touch-action: manipulation !important; /* This can prevent double-tap zoom in some browsers */
}


//bottom button 
@media only screen and (max-width:932px){
    .bottom-button-container{
        button{
            width: 89% !important;
        }
    }
}

@media only screen and (max-width:850px){
    .bottom-button-container{
        button{
            width: 88% !important;
        }
    }
}

@media only screen and (max-width:760px){
    .bottom-button-container{
        button{
            width: 87% !important;
        }
    }
}

@media only screen and (max-width:720px){
    .bottom-button-container{
        button{
            width: 86% !important;
        }
    }
}

@media only screen and (max-width:650px){
    .bottom-button-container{
        button{
            width: 84.5% !important;
        }
    }
}

@media only screen and (max-width:620px){
    .bottom-button-container{
        button{
            width: 84% !important;
        }
    }
}

@media only screen and (max-width:590px){
    .bottom-button-container{
        button{
            width: 82.5% !important;
        }
    }
}

@media only screen and (max-width:545px){
    .bottom-button-container{
        button{
            width: 81.5% !important;
        }
    }
}

@media only screen and (max-width:500px){
    .bottom-button-container{
        button{
            width: 80% !important;
        }
    }
}

@media only screen and (max-width:470px){
    .bottom-button-container{
        button{
            width: 78% !important;
        }
    }
}

@media only screen and (max-width:430px){
    .bottom-button-container{
        button{
            width: 77% !important;
        }
    }
}

@media only screen and (max-width:430px){
    .bottom-button-container{
        button{
            width: 75.5% !important;
        }
    }
}





#help-button{
    position: fixed;
    bottom: 2rem;

    button{
        width: 7rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}


#back-button{
    border: 1px solid white;
    left: 3.5rem !important;
    position: absolute;
    z-index: 99;
    padding-top: 3px;
    padding-bottom: 3px;
    svg{
        width: 15px;
        height: auto;
    }
}


.multiselect__placeholder{
    color: $primary !important;
}

.packing-weight-icon{
    width: auto;
    height: 18px;
    margin-right: 7px;
}

.packing-size-icon{
    height: 20px;
    margin-right: 10px;
}

.link-icon{
    height: 20px;
    width: fit-content;
}

.fs-14{
    font-size: 14px !important;
}

.fs-12{
    font-size: 12px !important;
    line-height: 15px;;
}

.mt-22{
    margin-top: 22px !important;
}

.text-left{
    text-align: left !important;
}

.w-60{
    width: 60% !important;
}

.w-40{
    width: 40% !important;
}

.custom-danger-popup{
    background: #FFFFFF70;
    border: none;
    color: #cf3746;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}


//error messagge
.success{
    background-color: #28a745 !important;
    color: white;
}

.error{
    background-color: #dc3545 !important;
    color: white;
}

.popup{
    position: fixed;
    background: white;
    bottom: 30px;
    right: 30px;
    width: 300px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.p-regular{
    color: $primary;
}

.explanation-text{
    font-weight: 300;
    margin-top: 5px;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}


@media only screen and (max-width:350px){
    .title-container h3{
        padding-left: 1.5rem !important;
    }
}

@media only screen and (max-width:450px){
    .drinks-food-list__item  .plain-link{
        width: 50% !important;
        margin-bottom: 1rem !important;
    }
}

